
.p-dialog {
    max-width: 100% !important;
    margin: 0 auto;
  }
  
 
  .p-fluid .p-field {
    margin-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    .btn-lg {
      width: 100%; 
    }
    .form-control {
      width: 100%;
    }
  }
  